#answer{
    border :2px solid #ff0000;
    margin-bottom: 5px;
    text-align: center;
}
#answer ul li{
    margin: 10px;
    display: inline-block;

}

#choices{
    border: 2px solid blue;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    
}
#choices ul li {
    display: inline-block;
    margin: 13px;
    cursor: pointer;
    border:1px orange solid;
    padding: 3px;
    border-radius: 15px;
}

.disabled{
    opacity: .3;
}

